<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd : xml에서 사용될 태그를 정의한 문서 -->
<!-- mybatis dtd -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.dnjh.spring.ex.mybatis.repository.ReviewRepository">
 	<select id="selectReview" resultType="com.dnjh.spring.ex.mybatis.domain.Review"
 	parameterType="int">
 		SELECT
 			`id`
 			, `storeId`
 			, `menu`
 			, `userName`
 			, `point`
 			, `review`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`new_review`
 		WHERE
 			`id` = #{id}
 	</select>
 	
 	<insert id="insertReview" parameterType="map">
 		INSERT
 			`new_review`
 			(
 				`storeId`
 				, `menu`
 				, `userName`
 				, `point`
 				, `review`
 			)
 		VALUE
 		(
 			#{storeId}
 			, #{menu}
 			, #{userName}
 			, #{point}
 			, #{review}
 		)
 	</insert>
 	
 	<insert id="insertReveiwByObject" parameterType="com.dnjh.spring.ex.mybatis.domain.Review">
 		INSERT
 			`new_review`
 			(
 				`storeId`
 				, `menu`
 				, `userName`
 				, `point`
 				, `review`
 			)
 		VALUE
 		(
 			#{storeId}
 			, #{menu}
 			, #{userName}
 			, #{point}
 			, #{review}
 		)
 	</insert>
 </mapper>