<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd : xml에서 사용될 태그를 정의한 문서 -->
<!-- mybatis dtd -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.dnjh.spring.ex.database.repository.UsedGoodsRepository">
 	
 	<select id="selectUsedGoodsList" resultType="com.dnjh.spring.ex.database.domain.UsedGoods">
 		SELECT 
 			`id`
 			,`sellerId`
 			,`title`
 			,`price`
 			,`description`
 			,`image`
 			,`createdAt`
 			,`updatedAt`
 		FROM 
 			`used_goods`
 	</select>
 </mapper>