<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf 변수와 조건문</title>
</head>
<body>
	
	<h2>변수와 조건문</h2>
	
	<h3>1. 변수</h3>
	
	<div th:with="number=100">
		<h4 th:text="${number}"></h4>
		<h4>[[${number}]]</h4>	<!-- 지양 -->
	</div>
	<!-- 변수가 선언된 태그 안에서만 사용가능하다. -->
	<h4 th:text="${number}"></h4>
	
	<h3>2. 태그 없이 thymeleaf 활용하기</h3>
	<!-- 렌더링 되지 않는 태그 -->
	<th:block th:with="number1=200, number2=250">
		<h4 th:text="${number1}"></h4>
		<h4 th:text="${number1 + number2}"></h4>
		<!-- 결과 : 450 -->
		<h4 th:text="'결과 : ' + ${number1 + number2}"></h4>
		<h4>결과 : [[${number1 + number2}]]</h4>
		<h4 th:text="|결과 : ${number1 + number2}|"></h4>
	</th:block>
	
	<h3>3. 태그 나타내기</h3>
	<!-- html escape 처리 -->
	<div th:text="'<b>진한글씨</b>'"></div>
	<div th:utext="'<b>진한글씨</b>'"></div>
	
	<h3>4. 조건문 - else if, else 없음!</h3>
	<th:block th:with="age=25">
		<h4 th:if="false">true 일때 해당 태그가 렌더링 된다.</h4>
		<h4 th:if="${age >= 20}">나이가 20 이상이다</h4>
		<h4 th:if="${age < 30}">30살 보다 어리다</h4>
		<h4 th:if="${age == 25}">나이가 25살이다</h4>
		
		<!-- unless - 부정 -->
		<h4 th:if="${age >= 20}">성인이다.</h4>
		<h4 th:unless="${age >= 20}">미성년이다.</h4>
	</th:block>
	
	<h3>4. switch 문</h3>
	<th:block th:with="season='가을'">
		<div th:switch="${season}">
			<h4 th:case="봄">따뜻하다</h4>
			<h4 th:case="여름">덥다</h4>
			<h4 th:case="가을">시원하다</h4>
			<h4 th:case="겨울">춥다</h4>	
			<h4 th:case="*">잘못된 계절입니다.</h4>	
		</div>	
	</th:block>
</body>
</html>