<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>반복문</title>
</head>
<body>
	<h2>반복문</h2>
	
	<h3>1. 숫자 반복</h3>
	<!-- 0 ~ 4 반복 -->
	<div th:each="i:${#numbers.sequence(0,4)}">
		<span th:text="${i}"></span>
	</div>
	
	<div th:each="fruit, status:${fruitList}">
		<span th:text="${fruit}"></span>
		<span th:text="|${status.index} ${status.count}|"></span>
	</div>
	
	<table border="1">
		<thead>
			<th>이름</th>
			<th>나이</th>
			<th>취미</th>
		</thead>
		<tbody>
			<tr th:each="user:${userList}">
				<td th:text="${user.name}">유재석</td>
				<td th:text="${user.age}">52</td>
				<td th:text="${user.hobby}">진행하기</td>
			</tr>
		</tbody>
	</table>
</body>
</html>