<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>날짜, 문자열 다루기</title>
</head>
<body>
	<h2>날짜, 문자열 다루기</h2>
	
	<h3>1. 날짜 시간 객체</h3>
	<div th:text="|Date : ${date}|"></div>
	<div th:text="|LocalDate : ${localDate}|"></div>
	<div th:text="|LocalDateTime : ${localDateTime}|"></div>
	
	<!-- thymeleaf 함수 사용시 앞에 #을 붙여야함 -->
	<h3>2.날짜 포맷</h3>
	<div th:text="|Date : ${#dates.format(date, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}|"></div>
	<div th:text="|LocalDate : ${#temporals.format(localDate, 'yyyy-MM-dd')}|"></div>
	<div th:text="|LocalDateTime : ${#temporals.format(localDateTime, 'yyyy/MM/dd HH:mm:ss')}|"></div>
	
	<h3>3. 문자열 함수</h3>
	<div th:with="string1='No Pain. No gain.'">
		<h3>문자열 길이</h3>
		<h4 th:text="${#strings.length(string1)}"></h4>
		
		<h3>특정 문자열이 존재하는지</h3>
		<h4 th:text="${#strings.contains(string1, 'No')}"></h4>
		<h4 th:text="${#strings.contains(string1, 'no')}"></h4>
		
		<!-- 대소문자 구분없이 판별 -->
		<h4 th:if="${#strings.containsIgnoreCase(string1, 'no')}">
			대소문자 구분 없이 no가 존재한다.
		</h4>
		
		<h3>특정 문자열로 시작, 혹은 끝나는지 확인</h3>
		<h4 th:if="${#strings.startsWith(string1, 'No')}">No로 시작한다.</h4>
		<h4 th:if="${#strings.endsWith(string1, 'gain.')}">gain.로 끝난다.</h4>
	</div>
	
	<div th:with="string2='I Love Chicken'">
		<h3>문자열 치환</h3>
		<!-- 원본 데이터가 변경되는것은 아니다. -->
		<h4 th:text="${#strings.replace(string2, 'Chicken', 'Pizza')}"></h4>
		
		<h3>문자열 자르기</h3>
		<h4 th:text="${#strings.substring(string2, 6, 14)}"></h4>
		
		<h3>문자열 쪼개기</h3>
		<h4 th:text="${#strings.arraySplit(string2, ' ')[0]}"></h4>
		<h4 th:text="${#strings.arraySplit(string2, ' ')[1]}"></h4>
		<h4 th:text="${#strings.arraySplit(string2, ' ')[2]}"></h4>
	</div>
	
	<div th:with="string3='                             hello                  '">
		<h3>필요없는 공백 지우기</h3>
		<h4 th:text="${string3}"></h4>
		<textarea th:text="${string3}"></textarea>
		<textarea th:text="${#strings.trim(string3)}"></textarea>
	</div>
</body>
</html>